.tile-container {
    display: inline-block;
    margin: 3% auto;
}

.project-container {
    width: 350%;
    max-width: 400%;
}

.carousel-container {
    position: relative;
    background: #F0F0F0;
    min-height: 200px;
    height: 200px;
    margin: 32px 130px;
}

.carousel-inner {
    height: 100%;
    overflow: hidden;
}
