<div class="carousel-container">
    <scrollBtnLeft *ngIf="getSelectedPortfolioItem() == 'projects' || getSelectedPortfolioItem() == 'experience'" (click)="animateLeft()" (canAnimateLeft)="animateCarousel($event)"></scrollBtnLeft>
    <div class="carousel-inner">
        <!--TODO: Animations-->
        <div class="tile-container">
            <div class="project-container"
                style="transform: translateX(0%)" 
                *ngIf="getSelectedPortfolioItem() == 'projects'" 
                [@animateCarousel]="isCanAnimate" 
                (@animateCarousel.start)="animationStarted($event)" 
                (@animateCarousel.done)="animationFinished($event)">
                <projects></projects>
            </div>
            <div class="experience-container" *ngIf="getSelectedPortfolioItem() == 'experience'">
                <experience></experience>
            </div>
            <div class="technologies-container" *ngIf="getSelectedPortfolioItem() == 'technologies'">
                <technologies></technologies>
            </div>
        </div>
    </div>
    <scrollBtnRight *ngIf="getSelectedPortfolioItem() == 'projects' || getSelectedPortfolioItem() == 'experience'" (click)="animateRight()" (canAnimateRight)="animateCarousel($event)"></scrollBtnRight>
</div>