<div class="carousel-container">
    <scrollBtnLeft (click)="animateLeft()" (canAnimateLeft)="animateCarousel($event)"></scrollBtnLeft>
    <div class="carousel-inner">
        <!--TODO: Animations-->
        <div class="tile-container">
            <div class="project-container"
                *ngIf="getSelectedPortfolioItem() == 'projects'" 
                [@animateCarousel]="isCanAnimate">
                <projects></projects>
            </div>
            <div class="experience-container" 
                *ngIf="getSelectedPortfolioItem() == 'experience'"
                [@animateCarousel]="isCanAnimate">
                <experience></experience>
            </div>
            <div class="technologies-container" 
                *ngIf="getSelectedPortfolioItem() == 'technologies'"
                [@animateCarousel]="isCanAnimate">
                <technologies></technologies>
            </div>
        </div>
    </div>
    <scrollBtnRight (click)="animateRight()" (canAnimateRight)="animateCarousel($event)"></scrollBtnRight>
</div>