<div class="carousel-container">
    <scrollBtnLeft *ngIf="getSelectedPortfolioItem() == 'projects' || getSelectedPortfolioItem() == 'experience'" (canAnimateLeft)="leftAnimate($event)"></scrollBtnLeft>
    <div class="carousel-inner">
        <!--TODO: Animations-->
        <div class="tile-container">
            <div class="project-container" *ngIf="getSelectedPortfolioItem() == 'projects'" [@leftButtonClick]="isLeftAnimate" [@rightButtonClick]="isRightAnimate">
                <projects></projects>
            </div>
            <div class="experience-container" *ngIf="getSelectedPortfolioItem() == 'experience'">
                <experience></experience>
            </div>
            <div class="technologies-container" *ngIf="getSelectedPortfolioItem() == 'technologies'">
                <technologies></technologies>
            </div>
        </div>
    </div>
    <scrollBtnRight *ngIf="getSelectedPortfolioItem() == 'projects' || getSelectedPortfolioItem() == 'experience'" (canAnimateRight)="rightAnimate($event)"></scrollBtnRight>
</div>