$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height: 100%;
  font-family: "FontAwesome", Trebuchet MS, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
}

h1, h2, h3, h4, h5 {
  margin: 0 auto;
}

.white {
  color: #f5f5f5;
}

.bold {
  font-weight: 700;
}

/* Custom page header */
section.header {
  position: fixed;
  display: block;
  height: 5em;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    padding: 0 1em 0 1em;
    margin: 4.5px auto;
    line-height: 3em;
    color: #094C83;
  }
  .pull-right {
    float: right;
  }
}

section.header.pinned {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.contact .col-lg-8,
.projects .col-lg-8,
.about .col-lg-8 {
  visibility: hidden;
  width: 50%;
  height: 5em;
  top: 0px;
  margin-left: 4em;
  padding: 1em 0 1em 1em;
  -webkit-text-stroke: 1px black;
}

.about.col-lg-8.about-header-sticky,
.contact.col-lg-8.contact-header-sticky,
.projects.col-lg-8.projects-header-sticky {
  visibility: visible;
}

.about-header-sticky {
  padding: 1em 0 1em 1em;
  -webkit-text-stroke: 1px black;
  border-bottom: 2px solid #f5f5f5;
}

.about-header-sticky::after {
  content: '\f02a';
  font-size: 3em;
  color: #f5f5f5;
  -webkit-text-stroke: 1px black;

  position: absolute;
  top: 0;
  left: 3.5em;
}

.contact-header-sticky {
  padding: 1em 0 1em 1em;
  -webkit-text-stroke: 1px black;
  border-bottom: 2px solid #f5f5f5;
}

.contact-header-sticky::after {
  content: '\f0a1';
  font-size: 3em;
  color: #f5f5f5;
  -webkit-text-stroke: 1px black;

  position: absolute;
  top: 0;
  left: 3.5em;
}

.projects-header-sticky {
  padding: 1em 0 1em 1em;
  -webkit-text-stroke: 1px black;
  border-bottom: 2px solid #f5f5f5;
}

.projects-header-sticky::after {
  content: '\f121';
  font-size: 3em;
  color: #f5f5f5;
  -webkit-text-stroke: 1px black;

  position: absolute;
  top: 0;
  left: 3.5em;
}

.projects {
  background-color: #f5f5f5;
}

.image {
  background-image: url('/images/winter.jpg');
  background-size: cover;
}

.about {
  background-color: rgba(255, 255, 255, 1);
}

.footer {
  background-color: rgba(153, 153, 153, 0.6);
}

.contact {
  background-color: #e6e6e6;
}

section.image,
section.projects {
  height: 80vh;
}

section.about {
  height: 70vh;
}

section.contact {
  height: 50vh;
}

section.footer {
  height: 10vh;
}

.nav-list {
  margin: 0;
  height: 100%;

  li {
    display: inline-block;
  }

  .nav-btn {
    width: 12em;
    height: 4.8em;
    font-weight: 700;
    color: #094C83;
  }

  .active {
    color:#f5f5f5;
  }
}

button {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #001219;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  outline: none;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

button.nav-btn:hover, button.nav-btn.active {
  color: #f5f5f5;
}

button.nav-btn::before {
  display: none;
}

button.nav-btn:hover::before {
  display: inline-block;
}

.nav-list li:first-child button.nav-btn::before {
  left: -.5em;
}

.image-frame {
  margin: 5px;
  border-radius: 40px;
  background-image: url("/images/AndrewThomas-Medium.jpg");
}
