$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height: 100%;
  font-family: Trebuchet MS, Verdana, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5 {
  margin: 0 auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  position: fixed;
  display: block;
  min-height: 5em;
  background-color: #f5f5f5;
  width: 100%;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    padding: 0 1em 0 1em;
    margin: 4.5px auto;
    line-height: 3em;
    color: #094C83;
  }
  .pull-right {
    float: right;
  }
}

.bottom-wrapper {
  height: 40vh;
  width: 100%;
}

.middle-wrapper {
  background-color: #7EB1DC;
  height: 80vh;
  width: 100%;
  padding-top: 5em;

  .wrapper-child {
    height: 25%;
    width: 75%;
    margin: 5em auto;
  }

  .graph-wrapper {
    margin: 0 auto;
    width: 50%;
  }

  h3 {
    margin: 1em;
  }
}

.nav-list {
  margin: 0;

  li {
    display: inline-block;
  }

  .nav-btn {
    width: 12em;
    height: 4.8em;
    font-weight: 700;
    color: #094C83;
  }

  .active {
    background-color:#f5f5f5;
  }
}

button {
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: #f5f5f5;
  padding: 0;
  outline: none;

  -webkit-transition: background-color .5s ease, color .5s ease;
  -moz-transition: background-color .5s ease, color .5s ease;
  -o-transition: background-color .5s ease, color .5s ease;
  -ms-transition: background-color .5s ease, color .5s ease;
  transition: background-color .5s ease, color .5s ease;
}

button.nav-btn:hover {
  color: #f5f5f5;
  background-color: #7EB1DC;  
}

.split {
  padding: 4em 0 4em 0;
  height: 10em;
}

.split:hover {
  cursor: pointer;
  background-color: #6398AA;
  color: #f5f5f5;
  border-radius: 2em;
  -webkit-transition: color .35s, background-color .35s, border-radius .35s linear;
  -moz-transition: color .35s, background-color .35s, border-radius .35s linear;
  -o-transition: color .35s, background-color .35s, border-radius .35s linear;
  -ms-transition: color .35s, background-color .35s, border-radius .35s linear;
  transition: color .35s, background-color .35s, border-radius .35s linear;
}

.split:first-child {
  border-right: 2px solid black;
}

.split:last-child {
  border-left: 2px solid black;
}

.split:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.image-frame {
  margin: 5px;
  border-radius: 40px;
  background-image: url("/images/AndrewThomas-Medium.jpg");
}

.headroom--pinned {
  transition: transform .25s ease-in;
  transform: translateY(0%);
}

.headroom--unpinned {
  transition: transform .25s ease-in;
  transform: translateY(-100%);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
