$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@font-face {
  font-family: "CC Red Alert";
  src: url('fonts/CC_Red-Alert.ttf');
}

body {
  padding: 0;
  height: 100%;
  font-family:  Avenir, Trebuchet MS, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
}

h1, h2, h3, h4, h5 {
  margin: 0 auto;
}

.white {
  color: #f5f5f5;
}

.bold {
  font-weight: 700;
}

/* Custom page header */
section.header {
  position: fixed;
  display: block;
  height: 5em;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    padding: 0 1em 0 1em;
    margin: 4.5px auto;
    line-height: 3em;
    font-weight: 300;
    font-size: 20;
    color: #ff9900;
  }
  .pull-right {
    float: right;
  }
}

section.header.pinned {
  background-color: rgba(255, 153, 0, 1);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  .nav-btn, h3 {
    color: #4d4d4d;
  }

  .nav-btn:hover {
    color: #ffffff;
  }
}


.projects {
  background-color: #f5f5f5;
}

section.image {
  background-image: url('/images/code-backgrnd.png');
  background-size: cover;

  h3 {
    font-family: "CC Red Alert";
    font-size: 60px;
    font-weight: 300;
    line-height: 70vh;
  }
  .centered {
    text-align: center;
  }

  .orange {
    color: #ff9900;
  }
}

.about {
  background-color: rgba(255, 255, 255, 1);
}

.footer {
  background-color: rgba(77, 77, 77, 1);
}

.contact {
  background-color: #e6e6e6;
}

section.image,
section.projects {
  height: 80vh;
}

section.about {
  height: 70vh;
}

section.contact {
  height: 50vh;
}

section.footer {
  height: 10vh;
}

.nav-list {
  margin: 0;
  height: 100%;

  li {
    display: inline-block;
  }

  .nav-btn {
    width: 12em;
    height: 4.8em;
    font-weight: 300;
    color: #ff9900;
  }

  .active {
    color:#f5f5f5;
  }
}

button {
  border: none;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  outline: none;
  font-size: 20px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

button.nav-btn:hover, button.nav-btn.active {
  color: #f5f5f5;
}

button.nav-btn::before {
  display: none;
}

button.nav-btn:hover::before {
  display: inline-block;
}

.nav-list li:first-child button.nav-btn::before {
  left: -.5em;
}

.image-frame {
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-image: url("/images/AndrewThomas-Medium.jpg");
}
