<div class="footer-container">
    <nav class="footer">
        <span class="fl-l">&copy; Copyright 2016 Andrew Thomas</span>
        <ul class="tile-list fl-r">
            <li>
                <a href="https://twitter.com/ExellionGaming">
                    <img src="./assets/twitter.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/andrew-thomas-93919454">
                    <img src="./assets/linkedin.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/andrew.thomas.129">
                    <img src="./assets/facebook.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UC9K9Hk4ybyuhvnwf7IrbOvw">
                    <img src="./assets/youtube.svg"/>
                </a>
            </li>
        </ul>
    </nav>
</div>