<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 white">
        <i class="fa fa-copyright orange"></i>
        Copyright 2015 Andrew Thomas
      </div>
      <ul class="footer-nav pull-right">
        <li class="nav-link"><a
          href="https://www.facebook.com/andrew.thomas.129"><i class="fa fa-facebook-square fa-3x"></i></a></li>
        <li class="nav-link"><a href="https://twitter.com/ExellionGaming"><i class="fa fa-twitter-square fa-3x"></i></a></li>
        <li class="nav-link"
        ><a href="https://www.linkedin.com/in/andrew-thomas-93919454"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
</section>
