<div class="footer-container">
    <nav class="footer">
        <span class="fl-l">&copy; Copyright 2016 Andrew Thomas</span>
        <ul class="tile-list fl-r">
            <li>
                <a href="https://twitter.com/ExellionGaming">
                    X
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/andrew-thomas-93919454">
                    X
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/andrew.thomas.129">
                    X
                </a>
            </li>
        </ul>
    </nav>
</div>