<div class="footer-container">
    <nav class="footer">
        <span class="fl-l">&copy; Copyright 2016 Andrew Thomas</span>
        <!--<ul class="tile-list fl-r">
            <li>
                <a href="https://twitter.com/ExellionGaming">
                    <fa>
                        <i class="fa fa-twitter-square fa-3x"></i>
                    </fa>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/andrew-thomas-93919454">
                    <fa>
                        <i class="fa fa-linkedin-square fa-3x"></i>
                    </fa>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/andrew.thomas.129">
                    <fa>
                        <i class="fa fa-facebook-official fa-3x"></i>
                    </fa>
                </a>
            </li>
        </ul>-->
    </nav>
</div>