<div class="image-tile-container" *ngFor="let image of portfolioImages">
    <div class="image-tile" *ngFor="let img of image.page_one">    
        <div class="image-container" [preview]="img.url">
            <img class="project" alt="{{img.name}}" height="120px" width="210px" src="./assets/{{img.url}}.png"/>
            <img class="magnifier" src="./assets/magnifier.svg"/>
            <img class="company" src="./assets/{{img.name}}.png" height="16px" width="65px"/>
        </div>
    </div>
    <div class="image-tile" *ngFor="let img of image.page_two">    
        <div class="image-container" [preview]="img.url">
            <img class="project" alt="{{img.name}}" height="120px" width="210px" src="./assets/{{img.url}}.png"/>
            <img class="magnifier" src="./assets/magnifier.svg"/>
            <img class="company" src="./assets/{{img.name}}.png" height="16px" width="65px"/>
        </div>
    </div>
    <div class="image-tile" *ngFor="let img of image.page_three">    
        <div class="image-container" [preview]="img.url">
            <img class="project" alt="{{img.name}}" height="120px" width="210px" src="./assets/{{img.url}}.png"/>
            <img class="magnifier" src="./assets/magnifier.svg"/>
            <img class="company" src="./assets/{{img.name}}.png" height="16px" width="65px"/>
        </div>
    </div>
</div>