img.project {
    padding: 4px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    max-width: 100%;
    min-width: 250px;
    -webkit-filter: brightness(100%);
    cursor: pointer;

    transition: all .2s;
}

img.magnifier {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 20px;
    width: 20px;
    opacity: 0;
}

img.company {
    position: absolute;
    top: 142px;
    right: 20px;
    opacity: 0;
}

.image-container:hover > img.project {
    -webkit-filter: brightness(60%);
}

.image-container:hover > img.magnifier,
.image-container:hover > img.company {
    opacity: 1;
    -webkit-filter: brightness(90%);
}

.preview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    height: 100vh;
    width: 100%;
    z-index: 13;
}

.preview-container {
    position: fixed;
    top: 0;
    left: 7%;
    height: 85%;
    min-height: 520px;
    width: 85%;
    background-color: #F0F0F0;
    z-index: 14;
    margin: 4.5% auto;
}

.preview-image {
    height: 100%;
    width: 100%;
}