@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

 * {
     font-family: 'Roboto Thin';
 }

.container {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
    border-bottom: 1px solid #e5e5e5;
}

.content {
    padding-top: 76px;
    text-align: center;
    margin: 0 auto;
}