<div id="projects" class="container">
    <div class="content">
        <button *ngFor="let item of experience" class="button-item" (click)="selectCategory(item)">
            {{item}}
        </button>
        <div *ngIf="selectedCategory == 'Projects'" class="project-container">
            <div class="image-tile" *ngFor="let image of projectImages">
                <img alt="{{image.name}}" height="180px" width="320px" src="./assets/{{image.url}}.png"/>
            </div>
        </div>
        <div *ngIf="selectedCategory == 'Experience'" class="experience-container">
            <div class="image-tile stacked" *ngFor="let image of experienceImages">
                <img alt="{{image.name}}" height="{{image.height}}" width="200px" src="./assets/{{image.name}}.png"/>
            </div>
        </div>
        <div *ngIf="selectedCategory == 'Technologies'" class="technologies-container">
            <div class="image-tile spread" *ngFor="let image of technologyImages">
                <img alt="{{image.name}}" height="130px" width="150px" src="./assets/{{image.name}}.png"/>
            </div>
        </div>
    </div>
</div>