@color-transparent: rgba(0, 0, 0, .5);

@font-face {
    font-family: 'Roboto Thin';
    src: url('app/src/fonts/Roboto-Thin.ttf');
}

.container {
    margin: 0px;
}

.header {
    box-sizing: border-box;
    font-family: Roboto Thin;
    font-size: 16px;
    width: 100%;
    height: 75px;
    background: @color-transparent;
    position: fixed;
    
    .logo {
        &.pull-left {
            float: left;
        }
    }
    
    .logo-container {
        display: inline-block;
        margin: 8px;
        height: 40px;
        width: 40px;
    }
    
    .list-container {
        display: inline-block;
        float: right;
        height: 75px;
        cursor: pointer;
        
        .header-list {
            height: 100%;   
            margin: 0;
            line-height: 70px; 
        }
        
        li {
            list-style-type: none;
            display: inline-block;
            padding-right: 16px;
            border-bottom: 5px solid transparent;
            transition: all .25s;
            
            &:hover {
                border-bottom: 5px solid #FFFFFF;             
            }            
        }
                
        span {
            padding: 0 16px 0 16px;
        }
    }
}

