<div ng-controller="HeaderController as header">
  <headroom offset="100" tolerance="5"
            classes='{"initial":"header","pinned":"headroom--pinned","unpinned":"headroom--unpinned"}'>
      <h3 class="pull-left title">
        Andrew Thomas
      </h3>
    <ul class="nav-list pull-right">
      <li ng-repeat="menuItem in header.menuItems">
        <a href="#/home/{{menuItem.name}}">
          <button class="nav-btn">
            {{menuItem.name | capitalize:true}}
          </button>
        </a>
      </li>
    </ul>
  </headroom>
</div>
