<div class="header">
  <img alt="Portfolio Pic" height="75px" width="75px" class="image-frame pull-left"
  src="/images/AndrewThomas-Medium.jpg"></img>
    <h3 typewrite type-delay="125" blink-cursor="false" initial-delay="1s"
        text="Hi, my name is Andrew Thomas. Welcome to my
        portfolio."
        class="pull-left">
    </h3>
  <ul class="nav-list pull-right">
    <li ng-repeat="menuItem in menuItems">
      <a ui-sref="main.{{menuItem.name | nospace}}">
        <button class="nav-btn" ng-click="states.activeItem = menuItem.id" ng-class="{active: menuItem.id === states.activeItem}">
          {{menuItem.name | capitalize:true}}
        </button>
      </a>
    </li>
  </ul>
</div>
