<section ng-controller="HeaderController as header">
  <section class="header" scroll-header>
    <img alt="Portfolio Pic" height="70px" width="70px" class="image-frame pull-left"
     src="/images/AndrewThomas-Medium.jpg"></img>
    <h3 typewrite type-delay="125" blink-cursor="false" initial-delay="1s"
        text="Hi, my name is Andrew."
        class="pull-left">
    </h3>
    <ul class="nav-list pull-right">
      <li ng-repeat="menuItem in header.menuItems">
          <button class="nav-btn" ng-click="gotoElement(menuItem)">
            <span>{{menuItem | capitalize:true}}</span>
          </button>
      </li>
    </ul>
  </section>
</section>
